<!DOCTYPE html>
<html>
<head>
    <title>Liveshow Editor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ffffff">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="manifest.json">
    <link href="style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
    <link rel="stylesheet" href="mdl-speed-dial.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
</head>

<body class="container-fluid">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-color--white mdl-color-text--grey-600">
        <div aria-expanded="false" role="button" tabindex="0" class="mdl-layout__drawer-button mdl-layout--small-screen-only mdl-color-text--grey-600">
          <i class="material-icons">view_module</i>
        </div>
        <div class="mdl-layout__header-row">
          <input type="text" class="mdl-layout-title" id="title" value="<%= name %>" placeholder="Untitled document" />
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect present" style="margin-left: 10px;"><i class="material-icons">ondemand_video</i> Present</button>
          <button class="mdl-button mdl-js-button mdl-button--icon present" style="margin-left: 10px;">
            <i class="material-icons">ondemand_video</i>
          </button>
          <div class="mdl-layout-spacer"></div>

          <div class="mdl-speed-dial mdl-speed-dial--header-edge">
            <button class="mdl-speed-dial__main-fab mdl-speed-dial__main-fab--spin mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
              <i class="material-icons mdl-speed-dial_main-fab-icon">add</i>
            </button>

            <div class="mdl-speed-dial__options">
              <div class="mdl-speed-dial__option">
                <p class="mdl-speed-dial__tooltip">New slide</p>
                <a href="#" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored new-slide">
                  <i class="material-icons">art_track</i>
                </a>
              </div>
              <div class="mdl-speed-dial__option">
                <p class="mdl-speed-dial__tooltip">New presentation</p>
                <a href="#" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored new-presentation">
                  <i class="material-icons">insert_drive_file</i>
                </a>
              </div>
              <div class="mdl-speed-dial__option">
                <p class="mdl-speed-dial__tooltip">New display</p>
                <a href="#" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored new-screen">
                  <i class="material-icons">desktop_windows</i>
                </a>
              </div>
              <div class="mdl-speed-dial__option">
                <p class="mdl-speed-dial__tooltip">Add participants</p>
                <a href="#" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored share">
                  <i class="material-icons">share</i>
                </a>
              </div>
              <div class="mdl-speed-dial__option">
                <p class="mdl-speed-dial__tooltip">Insert image</p>
                <a href="#" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored add-image">
                  <i class="material-icons">image</i>
                </a>
              </div>
              <div class="mdl-speed-dial__option">
                <p class="mdl-speed-dial__tooltip">Insert video</p>
                <a href="#" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored add-video">
                  <i class="material-icons">movie</i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="mdl-layout__drawer mdl-layout__drawer--right mdl-layout--no-drawer-button">
        <div class="mdl-layout__header-row">
          <i class="mdl-layout-icon material-icons" style="margin-right: 10px;">desktop_windows</i>
          <span class="mdl-layout-title">Liveshow</span>
        </div>
        <nav class="mdl-navigation"></nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content mdl-grid">
          <div class="mdl-grid mdl-grid--no-spacing mdl-cell--9-col main-slides" style="display: block;">
            <div class="slide-wrapper">
              <span class="pagenum mdl-cell--12-col">Display 1</span>
              <div class="aspect">
                <div class="stretch">
                  <div class="mdl-card mdl-shadow--2dp slide"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="mdl-cell mdl-shadow--2dp mdl-cell--3-col mdl-cell--12-col-phone mdl-cell--12-col-tablet mdl-card">
            <div class="mdl-card__supporting-text mdl-grid designs">
              <h4 class="mdl-cell mdl-cell--12-col">Designs</h4>
              <div class="colours">
                Colours:
                <button id="primary-colour-menu" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored"></button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect primary-colour-list" for="primary-colour-menu">
                  <li disabled class="mdl-menu__item">Primary colour:</li>
                  <li class="mdl-menu__item"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--red-500"></button></li>
                  <li class="mdl-menu__item"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--pink-500"></button></li>
                  <li class="mdl-menu__item"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--purple-500"></button></li>
                  <li class="mdl-menu__item"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--deep-purple-500"></button></li>
                  <li class="mdl-menu__item"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--indigo-500"></button></li>
                  <li class="mdl-menu__item"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--blue-500"></button></li>
                  <li class="mdl-menu__item"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--light-blue-500"></button></li>
                  <li class="mdl-menu__item"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--cyan-500"></button></li>
                  <li class="mdl-menu__item"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--teal-500"></button></li>
                  <li class="mdl-menu__item"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--light-green-500"></button></li>
                  <li class="mdl-menu__item"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--lime-500"></button></li>
                  <li class="mdl-menu__item"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--yellow-500"></button></li>
                  <li class="mdl-menu__item"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--amber-500"></button></li>
                  <li class="mdl-menu__item"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--orange-500"></button></li>
                  <li class="mdl-menu__item"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--deep-orange-500"></button></li>
                  <li class="mdl-menu__item"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--brown-500"></button></li>
                  <li class="mdl-menu__item"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--grey-500"></button></li>
                  <li class="mdl-menu__item mdl-menu__item--full-bleed-divider"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--blue-grey-500"></button></li>
                  <li class="mdl-menu__item"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--black"></button></li>
                  <li class="mdl-menu__item"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--white"></button></li>
                </ul>
                <button id="accent-colour-menu" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored"></button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect accent-colour-list" for="accent-colour-menu">
                  <li disabled class="mdl-menu__item">Accent colour:</li>
                  <li class="mdl-menu__item"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--red-A200"></button></li>
                  <li class="mdl-menu__item"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--pink-A200"></button></li>
                  <li class="mdl-menu__item"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--purple-A200"></button></li>
                  <li class="mdl-menu__item"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--deep-purple-A200"></button></li>
                  <li class="mdl-menu__item"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--indigo-A200"></button></li>
                  <li class="mdl-menu__item"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--blue-A200"></button></li>
                  <li class="mdl-menu__item"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--light-blue-A200"></button></li>
                  <li class="mdl-menu__item"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--cyan-A200"></button></li>
                  <li class="mdl-menu__item"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--teal-A200"></button></li>
                  <li class="mdl-menu__item"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--light-green-A200"></button></li>
                  <li class="mdl-menu__item"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--lime-A200"></button></li>
                  <li class="mdl-menu__item"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--yellow-A200"></button></li>
                  <li class="mdl-menu__item"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--amber-A200"></button></li>
                  <li class="mdl-menu__item"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--orange-A200"></button></li>
                  <li class="mdl-menu__item"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--deep-orange-A200"></button></li>
                </ul>
                <button id="text-colour-menu" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored"></button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect text-colour-list" for="text-colour-menu">
                  <li disabled class="mdl-menu__item">Text colour:</li>
                  <li class="mdl-menu__item"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--black"></button></li>
                  <li class="mdl-menu__item"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--white"></button></li>
                </ul>
                <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="global-colours">
                  <input type="checkbox" id="global-colours" class="mdl-switch__input" checked>
                  <span class="mdl-switch__label">Presentation-wide colours</span>
                </label>
              </div>
              <div class="mdl-shadow--2dp mdl-card slide content">
                <div class="mdl-card__title mdl-card--expand">
                  <h2 class="mdl-card__title-text">Title</h2>
                </div>
                <div class="mdl-card__supporting-text">
                  This is content.
                </div>
              </div>
              <div class="mdl-shadow--2dp mdl-card slide speaker">
                <div class="mdl-card__title">
                  <h2 class="mdl-card__title-text">John Doe</h2>
                  <h6 class="flush">@example</h6>
                  <h6 class="flush">Speaker Info Specialist</h6>
                </div>
                <div class="mdl-card__supporting-text">
                  This is the shortest bio you have ever seen.
                </div>
              </div>
              <div class="mdl-shadow--2dp mdl-card slide presentation-title">
                <div class="mdl-card__title mdl-card--expand">
                  <h2 class="mdl-card__title-text">Title</h2>
                </div>
              </div>
              <div class="mdl-shadow--2dp mdl-card slide content-top">
                <div class="mdl-card__title">
                  <h4 class="flush">Title</h4>
                </div>
                <div class="mdl-card__supporting-text">
                  This is content.
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script src="/share/share.uncompressed.js"></script>
    <script src="/share/json.uncompressed.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="script.js"></script>
    <script src="mdl-speed-dial.js"></script>
    <script src="stretchy.js" data-filter="textarea"></script>
    <script src="jquery.auto-grow-input.min.js"></script>
</body>
</html>
